[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dlinfo = {editable = true,path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = ">=2.3.0"

[requires]
python_version = "3"
