# https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions

# shown in badge
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository
name: tests

on:
  push:
  pull_request:
  schedule:
  - cron: '0 20 * * 5'

jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
        - 3.5
        - 3.6
        - 3.7
        - 3.8
        - 3.9
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.3.5
    - uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install --upgrade pipenv==2020.8.13
    - run: pipenv install --python "$PYTHON_VERSION" --deploy --dev
      env:
        PYTHON_VERSION: ${{ matrix.python-version }}
    - run: pipenv graph
    - run: pipenv run pytest --cov="$(cat *.egg-info/top_level.txt)" --cov-report=term-missing --cov-fail-under=100
    - run: pipenv run pylint "$(cat *.egg-info/top_level.txt)" tests/*
